# Ignorar todo por defecto
*

# PERO SÍ INCLUIR ESTOS ARCHIVOS Y CARPETAS
!src/
!src/*/
!README.md
!.gitignore

# LO QUE SÍ QUEREMOS IGNORAR (basura)
.idea/
*.iml
*.ipr
*.iws
out/
build/
*.class
.DS_Store
Thumbs.db